In [6]:
import pandas as pd
import numpy as np

#Task - 1 Create a pandas dataframe (DataFrame name as 'df') (10 observation and 5 features)

In [37]:
d = {'Name':['Kalyan','Aasrith','Siddhu','Swetha','Lokesh','Raju','Siva','Bhargav','Rohith','Shashank'],'Age':[21,21,20,np.nan,20,21,19,20,19,22],'BATCH':['BAI','BAI','BEC','BFD','BEC','BCE','BEC','BEC','BEC','BEC'],'Course':['Applied Data science','Applied Data science','VLSI','Cloud Computing','Oracle','Cloud Computing','VLSI','Oracle','VLSI','Applied Data science'],'Till Year':[2025,2025,2025,2025,2025,2025,2025,2025,2025,2025],}
d

{'Name': ['Kalyan',
  'Aasrith',
  'Siddhu',
  'Swetha',
  'Lokesh',
  'Raju',
  'Siva',
  'Bhargav',
  'Rohith',
  'Shashank'],
 'Age': [21, 21, 20, nan, 20, 21, 19, 20, 19, 22],
 'BATCH': ['BAI',
  'BAI',
  'BEC',
  'BFD',
  'BEC',
  'BCE',
  'BEC',
  'BEC',
  'BEC',
  'BEC'],
 'Course': ['Applied Data science',
  'Applied Data science',
  'VLSI',
  'Cloud Computing',
  'Oracle',
  'Cloud Computing',
  'VLSI',
  'Oracle',
  'VLSI',
  'Applied Data science'],
 'Till Year': [2025, 2025, 2025, 2025, 2025, 2025, 2025, 2025, 2025, 2025]}

In [38]:
df = pd.DataFrame(d)
df

       Name   Age BATCH                Course  Till Year
0    Kalyan  21.0   BAI  Applied Data science       2025
1   Aasrith  21.0   BAI  Applied Data science       2025
2    Siddhu  20.0   BEC                  VLSI       2025
3    Swetha   NaN   BFD       Cloud Computing       2025
4    Lokesh  20.0   BEC                Oracle       2025
5      Raju  21.0   BCE       Cloud Computing       2025
6      Siva  19.0   BEC                  VLSI       2025
7   Bhargav  20.0   BEC                Oracle       2025
8    Rohith  19.0   BEC                  VLSI       2025
9  Shashank  22.0   BEC  Applied Data science       2025

#Task- 2 Check the info of 'df'

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       10 non-null     object
 1   Age        9 non-null      float64
 2   BATCH      10 non-null     object
 3   Course     10 non-null     object
 4   Till Year  10 non-null     int64
dtypes: float64(1), int64(1), object(3)
memory usage: 528.0+ bytes

#Task 3- Check the descriptive statistics of 'df'

In [40]:
df.describe()

             Age  Till Year
count   9.000000       10.0
mean   20.333333     2025.0
std     1.000000        0.0
min    19.000000     2025.0
25%    20.000000     2025.0
50%    20.000000     2025.0
75%    21.000000     2025.0
max    22.000000     2025.0

#Task 4- check the 4th index observation with 'loc' slicing operator.

In [41]:
df.loc[4]

Name         Lokesh
Age            20.0
BATCH           BEC
Course       Oracle
Till Year      2025
Name: 4, dtype: object

#Task 5 - Check the null values in your 'df'

In [42]:
df.isnull().sum()

Name         0
Age          1
BATCH        0
Course       0
Till Year    0
dtype: int64

In [43]:
df.isnull().any()

Name         False
Age           True
BATCH        False
Course       False
Till Year    False
dtype: bool